.event {
  position: relative;
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.deleteBtn {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #dc3545;
  /* color: white; */
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #c82333;
}